@using Entities.Models.Receipt
@model receipt

<div dir="rtl">
    
    <div>
        <div class="row row-cols-md-2 row-cols-sm-1">
            <div class="w-100">
                
                @{
                    if(Model.status == "Valid")
                    {
                        <div>
                            <p class="fs-3 text-success">
                                @(@Model.documentType.receiptType == "S" ? "ايصال بيع" : "ايصال مرتجع")
                                <i class="fa-solid fa-circle-check"></i>
                            </p>
                        </div>
                    }
                    else if (Model.status == "Invalid")
                    {
                        <div >
                            <p class="fs-3 text-danger">
                                @(@Model.documentType.receiptType == "S" ? "ايصال بيع" : "ايصال مرتجع")
                                <i class="fa-solid fa-triangle-exclamation"></i>
                            </p>
                        </div>
                    }
                    else
                    {
                        <h4>@(@Model.documentType.receiptType == "S" ? "ايصال بيع" : "ايصال مرتجع")</h4>
                    }
                }
            </div>
            <hr class="w-100" />
            <div class="form-group">
                <label style="font-weight:bold">رقم الايصال</label>
                <p class="form-control">@Model.header.receiptNumber</p>
            </div>
            <div class="form-group">
                <label style="font-weight:bold">تاريخ الايصال</label>
                <p class="form-control">@Model.header.dateTimeIssued</p>
            </div>
            <div class="form-group w-100">
                <label style="font-weight:bold">معرف الايصال</label>
                <p class="form-control overflow-auto">@Model.header.uuid</p>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-primary">بيانات الممول</h3>
        <hr />
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
            <div class="form-group">
                <label style="font-weight:bold">اسم الشركة</label>
                <p class="form-control">@Model.seller.companyTradeName</p>
            </div>
            <div class="form-group">
                <label style="font-weight:bold">رقم تسجيل</label>
                <p class="form-control">@Model.seller.rin</p>
            </div>
            <div class="form-group">
                <label style="font-weight:bold">رقم تسجيل</label>
                <p class="form-control">@Model.seller.activityCode</p>
            </div>
            <div class="form-group">
                <label style="font-weight:bold">العنوان</label>
                <p class="form-control">@(@Model.seller.branchAddress.buildingNumber),@(Model.seller.branchAddress.street),@(Model.seller.branchAddress.governate),@(Model.seller.branchAddress.country)</p>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-primary">بيانات العميل</h3>
        <hr />
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
            <div class="form-group">
                <label style="font-weight:bold">اسم العميل</label>
                <p class="form-control">@Model.buyer.name</p>
            </div>
            @if(Model.buyer.id!= null)
            {
                <div class="form-group">
                    <label style="font-weight:bold">معرف العميل</label>
                    <p class="form-control">@Model.buyer.id</p>
                </div>
            }
            @if(Model.buyer.mobileNumber != null)
            {
                <div class="form-group">
                    <label style="font-weight:bold">رقم تليفون</label>
                    <p class="form-control">@Model.buyer.mobileNumber</p>
                </div>
            }
            <div class="form-group">
                <label style="font-weight:bold">نوع</label>
                <p class="form-control">@(Model.buyer.type == "P" ? "شخص" : Model.buyer.type == "B" ? "شركة" : "اجنبي")</p>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-primary">بنود الايصال</h3>
        <hr />
        <div class="overflow-auto">
            <table class="table table-hover table-bordered w-100 text-center ">
                <thead class="text-light" style="line-height:3rem;background-color:var(--green-color);font-size:1.2rem">
                    <tr>
                        <th class="col-1">كود الداخلي</th>
                        <th class="col-5">وصف المنتج</th>
                        <th class="col-1">سعر الوحدة</th>
                        <th class="col-1">كمية</th>
                        <th class="col-2">خصم</th>
                        <th class="col-2">ضريبة</th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (item item in Model.itemData)
                    {
                        <tr>

                            <td>@item.internalCode</td>
                            <td>@item.description</td>
                            <td>@item.unitPrice</td>
                            <td>@item.quantity</td>
                            <td>@item.commercialDiscountData.Select(x => x.amount).FirstOrDefault()</td>
                            <td>@item.taxableItems.Select(x => x.amount).Sum()</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                        <th colspan="1">اجمالي المبيعات : </th>
                        <td>@Model.totalSales</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>

                        <th>اجمالي الخصم : </th>
                        <td>@Model.totalCommercialDiscount</td>

                    </tr>
                    <tr>
                        <td colspan="4"></td>

                        <th>اجمالي الضريبة : </th>
                        <td></td>

                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <th>اجمالي المبلغ : </th>
                        <td>@Model.totalAmount</td>

                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger" style="font-weight:bold;font-size:1.2rem">
    </div>
</div>



