@using ETA.eReceipt.IntegrationToolkit.Application.Models
@using Entities.Models
@using Entities.Models.Document.BaseComponent
@using Entities.Models.Document.Receipt
@using Interface.Dto
@using Newtonsoft.Json

@model IEnumerable<Receipt>




@{
    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;

    }
}


<h3 class="text-end text-primary">الايصالات</h3>
<hr />
<div class="overflow-auto" dir="rtl" style="min-height:100%">
    <table class="table table-hover table-responsive table-bordered w-100 text-center " >
        <thead class="text-light" style="line-height:3rem;background-color:var(--green-color);font-size:1.2rem">
            <tr>
                <th>رقم الايصال</th>
                <th>تاريخ</th>
                <th>نوع</th>
                <th>اسم العميل</th>
                <th>معرف العميل</th>
                <th>الاجمالي</th>
                <th>الحالة</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Receipt receipt in Model)
            {
                <tr>
                    <td class="col-1"><a asp-controller="receipts" asp-action="Details" asp-route-id="@receipt.SubmissionUuid">@receipt.Header.ReceiptNumber</a></td>
                    <td class="col-2">@receipt.Header.DateTimeIssued</td>
                    @{
                        if(receipt.DocumentType.ReceiptType == "r")
                        {
                            <td class="col-2 text-primary">
                                ايصال مرتجع
                                <i class="fa-solid fa-arrow-down"></i>
                            </td>
                        }
                        else if(receipt.DocumentType.ReceiptType == "S")
                        {
                            <td class="col-2 text-success">
                                ايصال بيع
                                <i class="fa-solid fa-arrow-up"></i>
                            </td>
                        }

                    }
                    <td class="col-2">@receipt.Buyer.Name</td>
                    <td class="col-2">@receipt.Buyer.Id</td>
                    <td class="col-1">@receipt.TotalAmount</td>
                    @{
                        if(receipt.Status == "Valid")
                        {
                            <td class="col-1 text-success">
                                صحيح
                                <i class="fa-solid fa-circle-check"></i>
                            </td>
                        }
                        else if(receipt.Status == "Invalid")
                        {
                            <td class="col-1 text-danger">
                                غير صحيح
                                <i class="fa-solid fa-triangle-exclamation"></i>
                            </td>
                        }
                        else
                        {
                            <td class="col-1 " style="color:rgb(126 36 163)">@receipt.Status</td>
                        }
                    }
                    
                    <td class="col-1">
                        <div class="dropdown">
                            <button class="btn" style="background-color:var(--blue-color)" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gear text-light"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>
                                    <a class="dropdown-item  text-end" asp-controller="report" asp-action="exportdata" asp-route-Id="@receipt.SubmissionUuid">
                                        <i class="fa-solid fa-print"></i>
                                        طباعة الايصال
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item  text-end"
                                       onclick="SweetAlert.confirm(event,'هل تريد ارجاع الايصال؟','','question')"
                                       asp-controller="receipts" 
                                        asp-action="return" 
                                        asp-route-Id="@receipt.SubmissionUuid"
                                        asp-route-pg="@pager.CurrentPage">
                                        <i class="fa-solid fa-ban"></i>
                                        استرجاع
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-end" asp-controller="receipts" asp-action="GetReceiptJson" asp-route-id="@receipt.ReceiptId" class="btn-info">
                                        <i class="fa-solid fa-file "></i>
                                        تحميل JSON
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination flex-row-reverse">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="receipts" asp-action="index" asp-route-pg="1">اول صفحة</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="receipts" asp-action="index" asp-route-pg="@(pager.CurrentPage -1)">السابق</a>
                    </li>
                }
                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "" )">
                        <a class="page-link" asp-controller="receipts" asp-action="index" asp-route-pg="@pge">@pge</a>
                    </li>

                }
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="receipts" asp-action="index" asp-route-pg="@(pager.CurrentPage + 1)">التالي</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="receipts" asp-action="index" asp-route-pg="@(pager.TotalPages)">اخر صفحة</a>
                    </li>
                }
            </ul>
        }
    </div>


</div>

@section Scripts{

    <script type="module" src="~/js/Receipt/Index.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
