

<table id="">
    <thead>
        <tr>
            <th>#</th>
            <th>Internal Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Unit Type</th>
            <th>Code</th>
            <th>Code Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (((bool)ViewData.ContainsKey("Products") == true) && ViewBag.Products != null)
        {
            @foreach (var item in ViewBag.Products)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.InternalId</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitType</td>
                    <td>@item.Code</td>
                    <td>@item.CodeType</td>
                    <td>
                        <form asp-controller="Products" method="get">
                            <button type="submit" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fa-regular fa-pen-to-square"></i>
                                Edit
                            </button>

                            <button type="submit" asp-action="delete" asp-route-id="@item.Id">
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>


   
</table>