@using Entities.Models
@using Interface.ViewModels
@model ProductVM

<h3 class="text-primary text-end" >لوحة الاضافة</h3>
<hr />
<form  asp-action="add" asp-controller="products" method="post">
    <partial name="_inputPartial"></partial>
    <input type="submit" class="btn btn-success" value="اضافة">
</form>


<div class="row mt-2 box-content">
    <div class="col">
        <h3 class="text-primary text-end">السلع و الخدمات</h3>
        <hr>
        <table id="datatable" class="table table-hover table-responsive table-bordered w-100 text-center " dir="rtl">
            <thead class="text-light" style="line-height:3rem;background-color:var(--green-color);font-size:1.2rem">
                <tr>
                    <th>كود داخلي</th>
                    <th>الاسم</th>
                    <th>الوصف</th>
                    <th>سعر</th>
                    <th>نوع الوحدة</th>
                    <th>كود عالمي</th>
                    <th>نوع الكود العالمي</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Products != null)
                {
                    @foreach (Product product in (List<Product>)ViewBag.Products)
                    {
                        <tr>
                            <td>@product.InternalId</td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.UnitPrice</td>
                            <td>@product.UnitType</td>
                            <td>@product.Code</td>
                            <td>@product.CodeType</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn" style="background-color:var(--dark-color)" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-gear text-light"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li>
                                            <a class="dropdown-item  text-end" asp-controller="Products" asp-action="Edit" asp-route-Id="@product.Id">
                                                تعديل
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item  text-end" asp-controller="products" asp-action="delete" asp-route-Id="@product.Id">
                                                حذف
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script src="~/js/Products.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
